<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Familia</title>
</head>
<body>
<h3>Esta es mi familia, creada el: {{ familia.creacion }}</h3>
<br>
<b>Nuestro apellido es:</b> {{ familia.nombre }}
<br>
<b>Mi hermano es: </b> {{ hermano.nombre }} y su edad es {{ hermano.edad }}
<br>
<b>Mi sobrino es: </b> {{ sobrino.nombre }} y su edad es {{ sobrino.edad }}
<br>
<b>Mi sobrina es: </b> {{ sobrina.nombre }} y su edad es {{ sobrina.edad }}
<br>
<b>Mi mascota es: </b> {{ mascota.nombre }} y su comida favorita es el {{ mascota.comidaFav }}

</body>
</html>